/* 기본 스타일 */
body 
{
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    background-color: #f9f9f9;
    overflow: hidden;
}

.main 
{
    display: flex;
    height: 100vh;
}

/* 사이드바 */
.sidebar 
{
    width: 20%;
    padding: 15px;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f3f0e9;
}

/* 로고 */
.logo 
{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.logo img {width: 50px;}

/* 네비게이션 버튼 */
.nav-buttons button 
{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    transition: color 0.3s;
    color: #333;
    width: 100%;
}

.nav-buttons button.now {
    color: #fbbd08; /* 'now' 클래스를 가진 버튼의 색상 설정 */
}

/* 활성화되지 않은 버튼들에 대한 호버 색상 */
.nav-buttons button:not(.active):hover {
    color: #fbbd08; /* 호버 시 텍스트 색상 변경 */
}

/* 검색창 */
.search-container 
{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input 
{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-btn 
{
    padding: 8px;
    border: none;
    background-color: #FEE99C;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s;
}

.search-btn:hover {background-color: #fbbd08;}

/* 로그아웃 버튼 */
.logout-btn 
{
    background-color: #FF6347;
    border: none;
    padding: 10px 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    width: 20%;
    text-align: center;
}

.logout-btn:hover {background-color: #d0533d;}

.content-wrapper 
{
    width: 80%;
    margin-left: 20%;
    height: 100vh;
    overflow-y: auto;
    padding: 50px 100px;
}

/* 커뮤니티 이미지 콘텐츠 */
.content 
{
    width: 80%;
    padding-left: 130px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 150px;
}

.content img 
{
    width: 100%;
    transition: transform 0.2s;
    cursor: pointer;
}

.content img:hover {transform: scale(1.05);}
