<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/login.css">
    <title>HOBBYHIVE 로그인</title>
</head>
<body>
    <div class="login-container">
        <!-- 로고 이미지 -->
        <img src="static/images/logo/logo1.png" alt="HOBBYHIVE 로고">
        
        <!-- 로그인 입력 폼 -->
        <input type="text" id="login-id" placeholder="아이디 입력">
        <input type="password" id="login-password" placeholder="비밀번호 입력">
        
        <!-- 로그인 버튼 -->
        <button id="login-button">로그인</button>
        
        <!-- 회원가입 링크 -->
        <div class="signup">
            <a href="sign_up.html">회원가입</a> <!-- 회원가입을 클릭하면 sign_up.html로 이동 -->
        </div>
    </div>
</body>
<script src="static/js/login.js"></script>
</html>
